<div class="row">
    <div class="col-md-9" role="main">
        <div class="category">
            <div class="category-header cf">
                <h2 class="category-header-title left">Mobile</h2>
                <div class="category-header-status right">
                    <span class="week">9<i>Weekly</i>
                    </span>
                    <span class="total">1861<i>Total</i>
                    </span>
                </div>
            </div>

        </div>
        <div class="articles">
            <article class="posts cf">

                <div class="info">
                    <div class="postmeta right"><a href="/truant" class="uname user_truant" data-name="王壮" target="_blank">王壮</a> • 06/30 17:14</div>
                </div>
                <div class="left left-col">
                    <div class="image feature-img thumb-180">
                        <a href="/p/213278.html">
                            <img class="feature-img" src="http://a.36krcnd.com/photo/2014/1fe8a748753f4c06c1703f00a204bef4.png!slider">
                        </a>
                    </div>
                </div>
                <div class="right-col">
                    <h1><a href="/p/213278.html" data-no-turbolink="true" onclick="javascript:_gaq.push(['_trackPageview', '/click/index_newtab/']);" target="_blank" title="食神摇摇团队并入美丽说">食神摇摇团队并入美丽说</a>
                    </h1>
                    <p>据说这次合并不涉及现金，食神摇摇员工将获得一定的美丽说期权。</p>
                </div>

            </article>
        </div>
    </div>
    <div id="latest-posts" class="col-md-3 nav-right">
        ${nav-right}
    </div>
</div>