<div class="jumbotron jw-header index-middle">
    <div class="container">
        <h1>John Wong</h1>
        <p>一个热爱编程的傻瓜</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9" role="main">
            <div class="index-latest">LATEST POSTS</div>
            <div class="articles">
            </div>
            <textarea id="article-template" class="template">
                <article class="index-posts posts cf">
                    <div class="info">
                        <div class="postmeta left">
                            <a style="color: @{category-color}" class="category" href="@{category-link}">
                                <span class="glyphicon @{category-icon}"></span>@{category-name}</a>
                        </div>
                        <div class="postmeta right">@{article-author} • @{article-time}</div>
                    </div>
                    <div class="left left-col">
                        <div class="image feature-img thumb-180">
                            <a href="@{article-link}">
                                <img class="feature-img" src="@{article-thumb}">
                            </a>
                        </div>
                    </div>
                    <div class="right-col">
                        <h1 class="item-title"><a href="@{article-link}" target="_blank">@{article-title}</a>
                        </h1>
                        <p class="item-desc">@{article-description}</p>
                    </div>

                </article>
            </textarea>
            <ul id="pagination" class="pagination">
                <li class="disabled"><a href="#">«</a>
                </li>
                <li class="disabled"><a href="#">»</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 index-right">
            <img class="gravatar index-gravatar" src="images/gravatar.jpg">
            <h1 class="index-me">
                <span>John Wong <a href="http://github.com/JohnWong">@Github</a>
                </span>
            </h1>
            <div class="vcard-stats">
                <a class="vcard-stat" href="/JohnWong/followers">
                    <strong class="vcard-stat-count">16</strong>
                    followers
                </a>
                <a class="vcard-stat" href="/stars">
                    <strong class="vcard-stat-count">16</strong>
                    Starred
                </a>
                <a class="vcard-stat" href="/JohnWong/following">
                    <strong class="vcard-stat-count">7</strong>
                    Following
                </a>
                <div class="cf"></div>
            </div>
        </div>
    </div>
</div>