---
layout: index
---

<div class="index-latest">LATEST POSTS</div>
<div class="articles index-articles">
{% for post in paginator.posts %}
  {% for category_item in site.category_info %}
    {% if category_item.name == post.categories[0] %}
      {% assign category = category_item %}
    {% endif %}
  {% endfor %}
  <article class="index-posts posts cf">
    <div class="info">
      <div class="postmeta left">
        <a style="color: {{ category.color }}" class="category" href="{{ "/category/" | prepend: site.baseurl | append: category.name | append: '.html' }}">
          <span class="glyphicon {{ category.icon }}"></span>&nbsp;{{ category.name }}</a>
      </div>
      <div class="postmeta right">{{ post.author }} • {{ post.date | date: "%b %-d, %Y" }}</div>
    </div>
    <div class="left left-col">
      <div class="image feature-img thumb-180">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img class="feature-img" src="{% if post.thumb %}{{ post.thumb | prepend: site.baseurl }}{% else %}/images/octocat-180.png{% endif %}">
        </a>
      </div>
    </div>
    <div class="right-col">
      <h1 class="item-title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h1>
      <p class="item-desc">{{ post.description }}</p>
    </div>
  </article>
{% endfor %}
</div>
<ul id="pagination" class="pagination">
  <li class="{% if paginator.previous_page == null %}disabled{% endif %}">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">«</a>
  </li>
  <li class="{% if paginator.page == i %}disabled{% endif %}">
    <a href="{{ '/'' | prepend: site.baseurl }}">1</a>
  </li>
  {% for i in (2..paginator.total_pages) %}
  <li class="{% if paginator.page == i %}disabled{% endif %}">
    <a href="{{ i | prepend:  '/'' | prepend: site.baseurl }}">{{ i }}</a>
  </li>
  {% endfor %}
  <li class="{% if paginator.next_page == null %}disabled{% endif %}">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">»</a>
  </li>
</ul>