<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}"> 
  {% if site.production == true  %}
  <script src="//libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
  <script src="//libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//libs.baidu.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  {% else %}
  <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/bootstrap-theme.min.css " | prepend: site.baseurl }}">
  {% endif %}
  <script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/pygments.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/github-markdown.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>