<img class="gravatar index-gravatar" alt="{{ site.username }}" src="http://gravatar.com/avatar/{{ site.gravatar_hash}}?s=480">
<h1 class="index-me">
  <span>{{ site.username }} <a href="{{ site.github.url }}{{ site.github.username }}">@Github</a></span>
</h1>
<div class="vcard-stats">
  <a class="vcard-stat" href="{{ site.github.url }}{{ site.github.username }}/followers">
    <strong class="vcard-stat-count">{{ site.github.followers }}</strong> followers
  </a>
  <a class="vcard-stat" href="{{ site.github.url }}stars/{{ site.github.username }}">
    <strong class="vcard-stat-count">{{ site.github.starred }}</strong> Starred
  </a>
  <a class="vcard-stat" href="{{ site.github.url }}{{ site.github.username }}/following">
    <strong class="vcard-stat-count">{{ site.github.following }}</strong> Following
  </a>
  <div class="cf"></div>
</div>