---
layout: default
---

{% for category_item in site.category_info %}
  {% if category_item.name == page.categories[0] %}
    {% assign category = category_item %}
  {% endif %}
{% endfor %}
<div class="container post-middle">
  <div class="row">
    <div class="col-md-9" role="main">
      <div class="post">
        <div class="post-poster">
          <img class="feature-img" alt="{{ page.title }}" src="{{ page.thumb | prepend: site.baseurl }}">
        </div>
        <h1 class="post-big-title">
          {{ page.title }}
        </h1>
        <div class="post-author">
          <a class="category" href="category.html?cat=Life"><span class="glyphicon {{ category.icon }}"></span>{{ category.name }}</a> | <span id="author" class="author">{{ page.author }}</span> • {{ page.date | date: "%b %-d, %Y" }}
        </div>
        <div class="markdown-body">
          {{ content }}
        </div>
        
        {% include disqus.html %}

      </div>
    </div>
    <div class="col-md-3 index-right">

      {% include index-side.html %}

    </div>
  </div>
</div>